* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-font: "Poppins", sans-serif;
$primary-color: #f3212c;
$secondary-color: #f7b614;
$text-color: rgba(0, 0, 0, 0.5);

@import "header";


