.special-menu-area {
  padding-bottom: 190px;
  .special-menu-title {
    padding-bottom: 45px;
    text-align: center;
    .title {
      font-family: "Vollkorn", serif;
      font-size: 40px;
      padding-top: 12px;
    }
    p {
      font-size: 20px;
      line-height: 35px;
      opacity: 0.8;
    }
  }
  .special-menu-1 {
    height: 500px;
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: 0px 10px 40px rgba(8, 58, 91, 0.15);
    padding: 30px;
    position: relative;
    .title {
      font-size: 24px;
      font-weight: 400;
      font-family: "Vollkorn", serif;
      opacity: 0.7;
      margin: 0px;
    }
    p {
      font-size: 18px;
      opacity: 0.8;
      padding-right: 20px;
      padding-top: 7px;
      padding-bottom: 37px;
      margin: 0px;
    }
    .special-menu-price {
      display: flex;
      justify-content: space-between;
      div {
        span {
          opacity: 0.8;
          padding-bottom: 7px;
        }
        p {
          font-size: 20px;
          color: $primary-color;
          font-family: "Vollkorn", serif;
          padding-bottom: 20px;
          padding-right: 0px;
        }
      }
    }
    a {
      color: white;
      font-size: 16px;
      padding: 0px 30px;
      line-height: 40px;
      background-color: $primary-color;
      border-color: $primary-color;
      font-weight: 700;
      border-radius: 40px;
      transition: 0.7s;
      &:hover {
        background-color: white;
        color: $primary-color;
      }
    }
    .special-menu-image {
      position: absolute;
      left: -30px;
      bottom: -40px;
    }
  }
  .special-menu-item {
    display: flex;
    padding: 30px;
    margin-bottom: 30px;
    height: 235px;
    box-shadow: 0px 10px 40px rgba(8, 58, 91, 0.15);
    align-items: center;
    border-radius: 6px;
    .order-btn {
      max-width: 170px;
      a {
        color: white;
        font-size: 16px;
        padding: 0px 30px;
        margin-top: 15px;
        line-height: 40px;
        background-color: $primary-color;
        border-color: $primary-color;
        font-weight: 700;
        border-radius: 40px;
        transition: 0.7s;
        &:hover {
          background-color: white;
          color: $primary-color;
        }
      }
    }
    .special-menu-2 {
      height: auto;
      margin: 0px;
      box-shadow: none;
      padding: 0 0 0 40px;
    }
  }
  .special-menu-3{
    .special-menu-price{
      margin-right: 60px;
    }
    .special-menu-image{
      right: -50px;
      left: auto;
      bottom: -40px;
      width: 350px;
      height: 260px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
